body {
    margin: 0;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Courier New', Courier, monospace;
}

#app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

router-view {
    flex: 1;
    height: 100%;
    overflow: auto;
}

ol {
    justify-content: center;
    gap: 25px !important;
}

.p-breadcrumb .p-breadcrumb-separator {
    color: white;
}
